.header
{
  font-family: 'Amatic SC', cursive;
  color: #d6515e;
  font-size: 72px;
  text-align: center;
}

.menu
{
  text-align: center;
  width: 800px;
  margin-left: 35%;
  margin-right: auto;
  margin-top: 50px;
  font-family: 'Nunito', sans-serif;
  color: #d6515e;
  font-size: 25px;
}

ul
{
  list-style-type: none;
  margin-left: auto;
  padding: 0;
  overflow: hidden;
  background-color: #FFF;
}

li
{
  float:left;
  width: 200px;
}

li a {
  display: block;
  color: #7A7A7A;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #d6515e;
}

.description
{
  width: 500px;
  font-family: 'Nunito', sans-serif;
  color: #47494f;
  float: left;
  margin-top: 21px;
}

.description td
{
  border-style: dotted;
  border-color: grey;
  text-align: center;
}

.description th
{
  border-style: dotted;
  border-color: grey;
  width: 200px;
  text-align: center;
}

.table
{
  margin-left: 20%;
}
